<div class="community-container">
  <h2 class="community-title" id="community-id">Community & Social Features</h2>
  <p class="community-text">
    Become part of an active gaming community and share your best runs!
  </p>
  <div class="community-mobile-only">
    <p class="community-descr-mobile">
      Tournaments:<br />• These are competitive events in which players can
      showcase their skills and compete for prizes.
    </p>
    <ul class="community-list-mobile">
      <li class="community-row-mobile">
        <div class="community-item-mobile football">
          <div class="community-item-img-mobile"></div>
          <p class="community-item-text-mobile">Football<br />tournament</p>
        </div>
        <div class="community-item-mobile conundrum">
          <div class="community-item-img-mobile"></div>
          <p class="community-item-text-mobile">Conundrum</p>
        </div>
      </li>

      <li>
        <p class="community-descr-mobile">
          • Tournaments can be organized in a variety of formats, such as
          single-player competitions, team battles, or multiplayer tournaments.
        </p>
      </li>

      <li class="community-row-mobile">
        <div class="community-item-mobile labyrinth">
          <div class="community-item-img-mobile"></div>
          <p class="community-item-text-mobile">Labyrinth</p>
        </div>
        <div class="community-item-mobile tennis">
          <div class="community-item-img-mobile"></div>
          <p class="community-item-text-mobile">Tennis</p>
        </div>
      </li>

      <li>
        <p class="community-descr-mobile">
          • They often include leaderboards, a point system, and rewards for
          winners.
        </p>
      </li>

      <li class="community-row-mobile">
        <div class="community-item-mobile knight">
          <div class="community-item-img-mobile"></div>
          <p class="community-item-text-mobile">Knight's tournament</p>
        </div>
      </li>
    </ul>
    <h3 class="community-title-mobile">Player achievements and stages</h3>
    <p class="community-descr-mobile">
      Exclusive badges:<br />• These are special badges that the player can
      receive for completing achievements or advancing through stages.
    </p>
    <ul class="community-list-mobile">
      <li class="community-row-mobile">
        <div class="community-item-mobile pilot">
          <div class="community-item-img-mobile"></div>
          <p class="community-item-text-mobile">Pilot icon</p>
        </div>
        <div class="community-item-mobile pathfinder">
          <div class="community-item-img-mobile"></div>
          <p class="community-item-text-mobile">Pathfinder icon</p>
        </div>
      </li>
      <li>
        <p class="community-descr-mobile">
          • Badges can be displayed on the player's profile, on the leaderboard,
          or elsewhere to demonstrate their achievements.
        </p>
      </li>
      <li class="community-row-mobile">
        <div class="community-item-mobile catacombs">
          <div class="community-item-img-mobile"></div>
          <p class="community-item-text-mobile">Catacombs<br />passage</p>
        </div>
        <div class="community-item-mobile hero">
          <div class="community-item-img-mobile"></div>
          <p class="community-item-text-mobile">Super hero</p>
        </div>
      </li>
      <li>
        <p class="community-descr-mobile"></p>
      </li>
      <li class="community-row-mobile">
        <div class="community-item-mobile chapter">
          <div class="community-item-img-mobile"></div>
          <p class="community-item-text-mobile">Chapter completed</p>
        </div>
      </li>
    </ul>
    <h3 class="community-title-mobile">Fan art and user-generated content</h3>
    <p class="community-descr-mobile">
      Exclusive badges:<br />• These are special badges that the player can
      receive for completing achievements or advancing through stages.
    </p>
    <ul class="community-list-mobile">
      <li class="community-row-mobile">
        <div class="community-item-mobile planet">
          <div class="community-item-img-mobile"></div>
          <p class="community-item-text-mobile">Planet of Robots</p>
        </div>
        <div class="community-item-mobile robot">
          <div class="community-item-img-mobile"></div>
          <p class="community-item-text-mobile">Robot Wars</p>
        </div>
      </li>
      <li>
        <p class="community-descr-mobile"></p>
      </li>
      <li class="community-row-mobile">
        <div class="community-item-mobile paradise">
          <div class="community-item-img-mobile"></div>
          <p class="community-item-text-mobile">Bird's paradise</p>
        </div>
      </li>
      <li>
        <p class="community-descr-mobile"></p>
      </li>
      <li class="community-row-mobile">
        <div class="community-item-mobile adventures">
          <div class="community-item-img-mobile"></div>
          <p class="community-item-text-mobile">Donnie's<br />adventures</p>
        </div>
        <div class="community-item-mobile king">
          <div class="community-item-img-mobile"></div>
          <p class="community-item-text-mobile">The LION King</p>
        </div>
      </li>
    </ul>
    <h3 class="community-title-mobile">Integration with social networks</h3>
    <p class="community-descr-mobile">
      • Players can invite their social media friends to the game by sending
      them invitations or links.<br />• This allows them to play together with
      friends, compete or collaborate.
    </p>
  </div>
  <div class="community-desktop-only">
    <p class="community-descr-desktop">
      Tournaments:<br />• These are competitive events in which players can
      showcase their skills and compete for prizes.<br />• Tournaments can be
      organized in a variety of formats, such as single-player competitions,
      team battles, or multiplayer tournaments.<br />They often include
      leaderboards, a point system, and rewards for winners.
    </p>
    <ul class="community-list-desk">
      <li class="community-item-desk">
        <div class="community-item-img-desk football"></div>
        <p class="community-item-text-desk">Football<br />tournament</p>
      </li>
      <li class="community-item-desk">
        <div class="community-item-img-desk conundrum"></div>
        <p class="community-item-text-desk">Conundrum</p>
      </li>
      <li class="community-item-desk">
        <div class="community-item-img-desk labyrinth"></div>
        <p class="community-item-text-desk">Labyrinth</p>
      </li>
      <li class="community-item-desk">
        <div class="community-item-img-desk tennis"></div>
        <p class="community-item-text-desk">Tennis</p>
      </li>
      <li class="community-item-desk">
        <div class="community-item-img-desk knight"></div>
        <p class="community-item-text-desk">Knight Tournament</p>
      </li>
    </ul>
    <h3 class="community-title-desktop">Player achievements and stages</h3>
    <p class="community-descr-desktop">
      Exclusive badges:<br />• These are special badges that the player can
      receive for completing achievements or advancing through stages.<br />•
      Badges can be displayed on the player's profile, on the leaderboard, or
      elsewhere to demonstrate their<br />achievements.
    </p>

    <ul class="community-list-desk">
      <li class="community-item-desk">
        <div class="community-item-img-desk pilot"></div>
        <p class="community-item-text-desk">Pilot icon</p>
      </li>
      <li class="community-item-desk">
        <div class="community-item-img-desk pathfinder"></div>
        <p class="community-item-text-desk">Pathfinder icon</p>
      </li>
      <li class="community-item-desk">
        <div class="community-item-img-desk catacombs"></div>
        <p class="community-item-text-desk">Catacombs passage</p>
      </li>
      <li class="community-item-desk">
        <div class="community-item-img-desk hero"></div>
        <p class="community-item-text-desk">Super hero</p>
      </li>
      <li class="community-item-desk">
        <div class="community-item-img-desk chapter"></div>
        <p class="community-item-text-desk">Chapter completed</p>
      </li>
    </ul>
    <h3 class="community-title-desktop">Fan art and user-generated content</h3>
    <p class="community-descr-desktop">
      The game or platform provides players with the opportunity to submit their
      game-inspired artwork to be published to a gallery, website, or social
      media.
    </p>
    <ul class="community-list-desk">
      <li class="community-item-desk">
        <div class="community-item-img-desk planet"></div>
        <p class="community-item-text-desk">Planet of Robots</p>
      </li>
      <li class="community-item-desk">
        <div class="community-item-img-desk robot"></div>
        <p class="community-item-text-desk">Robot Wars</p>
      </li>
      <li class="community-item-desk">
        <div class="community-item-img-desk adventures"></div>
        <p class="community-item-text-desk">Donnie's adventures</p>
      </li>
      <li class="community-item-desk">
        <div class="community-item-img-desk king"></div>
        <p class="community-item-text-desk">The LION King</p>
      </li>
      <li class="community-item-desk">
        <div class="community-item-img-desk paradise"></div>
        <p class="community-item-text-desk">Bird's paradise</p>
      </li>
    </ul>
    <p class="community-social-desk">
      <span class="community-span-desk">Integration with social networks</span>
      – share results and invite friends to play
    </p>
    <p class="community-descr-desktop">
      <br />• Players can invite their social media friends to the game by
      sending them invitations or links. <br />• This allows them to play
      together with friends, compete or collaborate.
    </p>
  </div>
  <div class="community-social-wrapper">
    <p class="community-intro">
      Join thousands of players in the community<br />Blaze Dash!
    </p>
  </div>
</div>
