<section id="features-id">
  <div class="features-container container">
    <div class="features-header">
      <h2 class="features-title">Features & Power-ups</h2>
      <p class="features-text">
        Master special abilities and power-ups that will help you conquer each
        level
      </p>
    </div>

    <ul class="features-card-list">
      <!-- -------------------- card-1 -------------------- -->

      <li class="features-card-item">
        <div class="features-card-header">
          <h3 class="features-card-title">Time Acceleration:</h3>
          <p class="features-text">
            Extra seconds to complete challenging stages.
          </p>
        </div>
        <div class="features-card-content" data-aos="zoom-in-right">
          <div class="feature-image-box">
            <div class="feature-image-frame">
              <div class="feature-image"></div>
            </div>
          </div>

          <div class="features-card-description">
            <p class="features-text">
              Games where you need to quickly solve puzzles against time often
              use power-ups to slow down or speed up time.
            </p>
          </div>
        </div>
      </li>

      <!-- -------------------- card-2 -------------------- -->

      <li class="features-card-item">
        <div class="features-card-header">
          <h3 class="features-card-title">Shield Mode:</h3>
          <p class="features-text">
            Temporary invincibility against obstacles.
          </p>
        </div>
        <div class="features-card-content" data-aos="zoom-in-left">
          <div class="feature-image-box">
            <div class="feature-image-frame">
              <div class="image-rotator feature-image" data-id="card-2">
                <img src="" srcset="" alt="Rotating image" />
              </div>
            </div>
          </div>

          <div class="features-card-description">
            <p class="features-text">
              The game is characterized by a fast pace and requires players to
              react quickly and think strategically. <br />To overcome
              especially difficult moments, players can use the "Shield" mode -
              a temporary bonus that makes them invulnerable.
            </p>
          </div>
        </div>
      </li>

      <!-- -------------------- card-3 -------------------- -->

      <li class="features-card-item">
        <div class="features-card-header">
          <h3 class="features-card-title">Super Jump:</h3>
          <p class="features-text">Double-tap for a higher leap over gaps..</p>
        </div>
        <div class="features-card-preview features-only-mobil">
          <p class="features-text">
            Double tap for more jump through gaps. Rapid Fire - Punch enemies
            with updated attacks!
          </p>
        </div>
        <div class="features-card-content" data-aos="zoom-in-right">
          <div class="feature-image-box">
            <div class="feature-image-frame">
              <div class="image-rotator feature-image" data-id="card-3">
                <img src="" srcset="" alt="Rotating image" />
              </div>
            </div>
          </div>

          <div class="features-card-description">
            <p class="features-text features-only-desktop">
              Double tap for more jump through gaps. Rapid Fire - Punch enemies
              with updated attacks!
            </p>
            <p class="features-text">
              Double Tap: To activate the Super Jump, the player must quickly
              press the jump button twice
            </p>
            <p class="features-text">
              Increased Distance/Height: Once activated, the character jumps to
              a significantly greater distance or height, allowing them to
              overcome wide gaps, high obstacles, or reach hard-to-reach places.
            </p>
          </div>
        </div>
      </li>

      <!-- -------------------- card-4 -------------------- -->

      <li class="features-card-item">
        <div class="features-card-header">
          <h3 class="features-card-title">Rapid Fire:</h3>
          <p class="features-text">Punch enemies with updated attacks!</p>
        </div>
        <div class="features-card-preview features-only-mobil">
          <p class="features-text">
            "Rapid Fire" is a game mechanic that allows the player to shoot at
            extremely high speeds, often with upgraded or modified attacks.
          </p>
        </div>
        <div class="features-card-content" data-aos="zoom-in-left">
          <div class="feature-image-box">
            <div class="feature-image-frame">
              <div class="image-rotator feature-image" data-id="card-4">
                <img src="" srcset="" alt="Rotating image" />
              </div>
            </div>
          </div>

          <div class="features-card-description">
            <p class="features-text">
              <span class="features-only-desktop">
                "Rapid Fire" is a game mechanic that allows the player to shoot
                at extremely high speeds, often with upgraded or modified
                attacks.
              </span>
              How it works: <br />
              High rate of fire: The player can fire a large number of
              projectiles in a short amount of time, dealing significant damage
              to enemies. <br />
              Updated attacks: "Rapid Fire" is often accompanied by weapon
              upgrades
            </p>
          </div>
        </div>
      </li>
    </ul>
    <p class="features-text-end">
      Use these abilities wisely to race through every world!
    </p>
  </div>
</section>
