<div class="gl-container">
  <h2 class="gl-title" id="gl-id">Game Levels & Challenges</h2>
  <p class="gl-text">
    Explore a variety of worlds filled with challenging levels! Dash Master!
  </p>
  <div class="gl-mobile-only">
    <ul class="gl-list-mob">
      <li class="gl-item-mob">
        <p class="gl-description-mob">
          <span class="highlight">Cityscape Dash</span> – Run through neon-lit
          skyscrapers.
        </p>
        <div class="gl-item-img-mob"></div>
        <p class="gl-item-descr-mob">
          • The player controls a character who runs on the rooftops of
          skyscrapers illuminated by neon lights.<br />• The goal is to cover as
          much distance as possible, avoiding obstacles and collecting
          power-ups.<br />• The game is characterized by a fast pace, bright
          graphics and dynamic music.
        </p>
      </li>
      <li class="gl-item-mob">
        <p class="gl-description-mob">
          <span class="highlight">Jungle Escape</span> – Avoid vines and
          quicksand in the deep forest.
        </p>
        <p class="gl-item-descr-mob">
          "Jungle Escape" is a game concept that immerses the player in an
          intense adventure in a dense tropical jungle.
        </p>
        <div class="gl-item-img-mob"></div>
        <p class="gl-item-descr-mob">
          Here is a detailed description:<br />The essence of the game:<br />•
          The player finds himself in the heart of the wild jungle, where he has
          to fight for survival.<br />• The goal is to overcome dangerous
          obstacles such as vines, loose sands, wild animals and other dangers
          to get out of the jungle.<br />• The game combines elements of action,
          adventure and survival.
        </p>
      </li>
      <li class="gl-item-mob">
        <p class="gl-description-mob">
          <span class="highlight">Space Rush</span> – Navigate zero-gravity
          zones with rocket boosts.
        </p>
        <p class="gl-item-descr-mob">
          "Space Rush" – this is a game concept that combines fast-paced racing
          with elements of weightlessness and the use of rocket boosters.
        </p>
        <div class="gl-item-img-mob"></div>
        <p class="gl-item-descr-mob">
          Here is a detailed description:<br />• The player controls a
          spacecraft that rushes through difficult tracks in zero gravity.<br />•
          The goal is to cover the track as quickly as possible, using rocket
          boosters to maneuver and accelerate.<br />• The game is characterized
          by high speed
        </p>
      </li>
      <li class="gl-item-mob">
        <p class="gl-description-mob">
          <span class="highlight">Lava Fortress</span> – Survive fire traps and
          molten obstacles.
        </p>
        <p class="gl-item-descr-mob">
          "Lava Fortress" is a game concept that combines elements of action,
          survival and platforming in a dangerous fire environment.
        </p>
        <div class="gl-item-img-mob"></div>
        <p class="gl-item-descr-mob">
          Here is a detailed description:<br />The essence of the game:<br />•
          The player finds himself in an ancient fortress located in the heart
          of the volcano.<br />• The goal is to overcome dangerous fire traps,
          molten obstacles, and enemies to get out of the fortress.<br />• The
          game is characterized by a high level of difficulty, an atmospheric
          fire environment.
        </p>
      </li>
    </ul>
  </div>

  <div class="gl-desktop-only">
    <ul class="gl-list-desk">
      <li class="gl-item-desk">
        <p class="gl-description-desk">
          <span class="highlight">Cityscape Dash</span> – Run through neon-lit
          skyscrapers.
        </p>
        <div class="gl-item-wrapper-desk">
          <div class="gl-item-img-desk"></div>
          <p class="gl-item-descr-desk">
            <br />• The player controls a character who runs on the<br />rooftops
            of skyscrapers illuminated by neon<br />lights.<br />• The goal is
            to cover as much distance as<br />possible, avoiding obstacles and
            collecting<br />power-ups.<br />• The game is characterized by a
            fast pace,<br />bright graphics and dynamic music.
          </p>
        </div>
      </li>
      <li class="gl-item-desk">
        <p class="gl-description-desk">
          <span class="highlight">Jungle Escape</span> – Survive vines and
          quicksand.
        </p>
        <div class="gl-item-wrapper-desk">
          <div class="gl-item-img-desk"></div>
          <p class="gl-item-descr-desk">
            "Jungle Escape" is a game concept that immerses the player<br />in
            an intense adventure in a dense tropical jungle. Here is a detailed
            description:<br />The essence of the game:<br />• The player finds
            himself in the heart of the wild jungle, where<br />he has to fight
            for survival.<br />•The goal is to overcome dangerous obstacles such
            as vines,<br />loose sands, wild animals and other dangers to get
            out of the<br />
            jungle.<br />• The game combines elements of action, adventure and
            survival.
          </p>
        </div>
      </li>
      <li class="gl-item-desk">
        <p class="gl-description-desk">
          <span class="highlight">Space Rush</span> – Navigate zero gravity
          zones with rocket boosts.
        </p>
        <div class="gl-item-wrapper-desk">
          <div class="gl-item-img-desk"></div>
          <p class="gl-item-descr-desk">
            "Space Rush" – this is a game concept that combines<br />fast-paced
            racing with elements of weightlessness and<br />the use of rocket
            boosters. Here is a detailed<br />description:<br />• The player
            controls a spacecraft that rushes through<br />difficult tracks in
            zero gravity.<br />• The goal is to cover the track as quickly as
            possible,<br />using rocket boosters to maneuver and accelerate.<br />•
            The game is characterized by high speed
          </p>
        </div>
      </li>
      <li class="gl-item-desk">
        <p class="gl-description-desk">
          <span class="highlight">Lava Fortress</span> – Survive fire traps and
          molten obstacles.
        </p>
        <div class="gl-item-wrapper-desk">
          <div class="gl-item-img-desk"></div>
          <p class="gl-item-descr-desk">
            "Lava Fortress" is a game concept that combines<br />elements of
            action, survival and platforming in a dangerous<br />fire
            environment. Here is a detailed description:<br />The essence of the
            game:<br />• The player finds himself in an ancient fortress located
            in<br />the heart of the volcano.<br />• The goal is to overcome
            dangerous fire traps, molten<br />obstacles, and enemies to get out
            of the fortress.<br />• The game is characterized by a high level of
            difficulty, an<br />atmospheric fire environment
          </p>
        </div>
      </li>
    </ul>
  </div>

  <p class="gl-text">
    Each level has unique enemies, obstacles, and puzzles — can you overcome
    them all?
  </p>
</div>
