<section id="hero-id" class="hero">
  <div class="hero-container">
    <div class="hero-image-container">
      <div class="hero-image"></div>
    </div>

    <div class="hero-content">
      <h1 class="hero-title">The Adventures of Blaze the Robot Dash</h1>

      <a
        href="https://play.google.com/store/apps/details?id=com.superrobotblazee.adventure&hl=en&gl=us"
        target="_blank"
        class="hero-button"
      >
        <svg width="24" height="24">
          <use href="/img/sprite.svg#icon-google-logo"></use>
        </svg>
        <span>Google Play</span>
      </a>
      <p class="hero-text">
        Robots are waiting for you: join an exciting journey to another world
      </p>
    </div>
  </div>
</section>
