<div class="lb-container">
  <h2 class="lb-title" id="lb-id">Competitive Leaderboards</h2>
  <p class="lb-description">
    Think you're the fastest robot? Compete for first place! Global Rankings –
    See how you compete against other players. Speedrun Challenges – Finish
    levels in record time. Weekly Rewards – Exclusive prizes for the highest
    ranked players. Leaderboard Updates – Track your progress and aim higher!
    Climb the leaderboard and prove that you are the ultimate dash master!
  </p>

  <ul class="lb-list">
    <li class="lb-item">
      <img
        class="lb-item-img"
        srcset="
          ./img/leaderboards/global-rankings-min.png    1x,
          ./img/leaderboards/global-rankings@2x-min.png 2x
        "
        src="./img/leaderboards/global-rankings-min.png"
        alt="global-rankings"
      />
      <p class="lb-item-descr">Global rankings</p>
    </li>
    <li class="lb-item">
      <img
        class="lb-item-img"
        srcset="
          ./img/leaderboards/speedrun-challenges-min.png    1x,
          ./img/leaderboards/speedrun-challenges@2x-min.png 2x
        "
        src="./img/leaderboards/speedrun-challenges-min.png"
        alt="speedrun-challenges"
      />
      <p class="lb-item-descr">Speedrun challenges</p>
    </li>
    <li class="lb-item">
      <img
        class="lb-item-img"
        srcset="
          ./img/leaderboards/weekly-rewards-min.png    1x,
          ./img/leaderboards/weekly-rewards@2x-min.png 2x
        "
        src="./img/leaderboards/weekly-rewards-min.png"
        alt="weekly-rewards"
      />
      <p class="lb-item-descr">Weekly rewards</p>
    </li>
    <li class="lb-item">
      <img
        class="lb-item-img"
        srcset="
          ./img/leaderboards/leaderboard-updates-min.png    1x,
          ./img/leaderboards/leaderboard-updates@2x-min.png 2x
        "
        src="./img/leaderboards/leaderboard-updates-min.png"
        alt="leaderboard-updates"
      />
      <p class="lb-item-descr">Leaderboard updates</p>
    </li>
  </ul>
  <p class="lb-text">
    Climb the leaderboard and prove that you are the best jerk master!
  </p>
</div>
