<div class="lb-container">
  <h2 class="lb-title" id="lb-id">Competitive Leaderboards</h2>
  <div class="mobile-only">
    <ul class="lb-list-mob">
      <li class="lb-item-mob">
        <p class="lb-description-mob">
          Think you're the fastest robot?<br />Compete for first place! Global
        </p>
        <div class="lb-item-img-mob"></div>
        <p class="lb-item-descr-mob">Global rankings</p>
      </li>
      <li class="lb-item-mob">
        <p class="lb-description-mob">
          Rankings – See how you compete against other players.
        </p>
        <div class="lb-item-img-mob"></div>
        <p class="lb-item-descr-mob">Speedrun challenges</p>
      </li>
      <li class="lb-item-mob">
        <p class="lb-description-mob">
          Speedrun Challenges – Finish levels<br />in record time.
        </p>
        <div class="lb-item-img-mob"></div>
        <p class="lb-item-descr-mob">Weekly rewards</p>
      </li>
      <li class="lb-item-mob">
        <p class="lb-description-mob">
          Leaderboard Updates – Track your progress and aim higher! Climb the
          leaderboard and prove that you are<br />the ultimate dash master!
        </p>
        <div class="lb-item-img-mob"></div>
        <p class="lb-item-descr-mob">Leaderboard updates</p>
      </li>
    </ul>
  </div>

  <div class="desktop-only">
    <p class="lb-description-desk">
      Think you're the fastest robot? Compete for first place! Global Rankings –
      See how you compete against other players. Speedrun Challenges – Finish
      levels in record time. Weekly Rewards – Exclusive prizes for the highest
      ranked players. Leaderboard Updates – Track your progress and aim higher!
      Climb the leaderboard and prove that you are the ultimate dash master!
    </p>

    <ul class="lb-list-desk">
      <li class="lb-item-desk">
        <div class="lb-item-img-desk"></div>
        <p class="lb-item-descr-desk">Global rankings</p>
      </li>
      <li class="lb-item-desk">
        <div class="lb-item-img-desk"></div>
        <p class="lb-item-descr-desk">Speedrun challenges</p>
      </li>
      <li class="lb-item-desk">
        <div class="lb-item-img-desk"></div>
        <p class="lb-item-descr-desk">Weekly rewards</p>
      </li>
      <li class="lb-item-desk">
        <div class="lb-item-img-desk"></div>
        <p class="lb-item-descr-desk">Leaderboard updates</p>
      </li>
    </ul>
  </div>

  <p class="lb-text">
    Climb the leaderboard and prove that you are the best jerk master!
  </p>
</div>
