<div class="mobile-menu">
  <div class="menu-container">
    <div class="menu-header">
      <picture>
        <source
          srcset="
            /img/header/logo-mob-menu.png    1x,
            /img/header/logo-mob-menu@2x.png 2x
          "
          type="image/png"
          media="(max-width: 1199px)"
        />
        <img
          class="menu-logo"
          src="/img/header/logo-mob-menu.png"
          alt="Logo image"
        />
      </picture>

      <button type="button" class="close-menu-btn" aria-label="close menu">
        <svg width="20" height="20">
          <use href="/img/sprite.svg#icon-close-btn"></use>
        </svg>
      </button>
    </div>

    <ul class="menu-list">
      <li class="menu-item">
        <a href="#hero-id" class="nav-link">Home</a>
      </li>
      <li class="menu-item">
        <a href="#review-id" class="nav-link">Game Review</a>
      </li>
      <li class="menu-item">
        <a href="#features-id" class="nav-link">Features & Power-ups</a>
      </li>
      <li class="menu-item">
        <a href="#squad-id" class="nav-link">Meet the Blaze Squad</a>
      </li>
      <li class="menu-item">
        <a href="#lb-id" class="nav-link">Competitive Leaderboards</a>
      </li>
      <li class="menu-item">
        <a href="#gl-id" class="nav-link">Game levels and challenges</a>
      </li>
      <li class="menu-item">
        <a href="#community-id" class="nav-link"
          >Community and social functions</a
        >
      </li>
    </ul>
  </div>
</div>
