<section id="review-id">
  <div class="review-container container">
    <h2 class="review-title">Game Review</h2>
    <div class="review-card-container">
      <ul class="review-card-list">
        <li class="review-card-item">
          <picture>
            <source
              srcset="
                /img/review/desktop/image-1.jpg    1x,
                /img/review/desktop/image-1@2x.jpg 2x
              "
              type="image/jpg"
              media="(min-width: 1200px)"
            />
            <source
              srcset="
                /img/review/mobile/image-1.jpg    1x,
                /img/review/mobile/image-1@2x.jpg 2x
              "
              type="image/jpg"
              media="(max-width: 1199px)"
            />
            <img
              src="/img/review/mobile/image-1.jpg"
              alt="Review card"
              class="review-card-image"
            />
          </picture>
          <p class="review-card-text">
            Join Robot Blaze Dash Adventure, an exciting running game where you
            race through different worlds, overcome obstacles and fight enemies
            while collecting power-ups!
          </p>
        </li>
        <li class="review-card-item">
          <picture>
            <source
              srcset="
                /img/review/desktop/image-2.jpg    1x,
                /img/review/desktop/image-2@2x.jpg 2x
              "
              type="image/jpg"
              media="(min-width: 1200px)"
            />
            <source
              srcset="
                /img/review/mobile/image-2.jpg    1x,
                /img/review/mobile/image-2@2x.jpg 2x
              "
              type="image/jpg"
              media="(max-width: 1199px)"
            />
            <img
              src="/img/review/mobile/image-2.jpg"
              alt="Review card"
              class="review-card-image"
            />
          </picture>
          <p class="review-card-text">
            Dynamic action with exciting challenges on the platform. Collect
            time bonuses to increase your score.
          </p>
        </li>
        <li class="review-card-item">
          <picture>
            <source
              srcset="
                /img/review/desktop/image-3.jpg    1x,
                /img/review/desktop/image-3@2x.jpg 2x
              "
              type="image/jpg"
              media="(min-width: 1200px)"
            />
            <source
              srcset="
                /img/review/mobile/image-3.jpg    1x,
                /img/review/mobile/image-3@2x.jpg 2x
              "
              type="image/jpg"
              media="(max-width: 1199px)"
            />
            <img
              src="/img/review/mobile/image-3.jpg"
              alt="Review card"
              class="review-card-image"
            />
          </picture>
          <p class="review-card-text">
            Dodge, jump and shoot to overcome dangerous enemies. Simple controls
            - run, jump and clear obstacles!
          </p>
        </li>
        <li class="review-card-item">
          <picture>
            <source
              srcset="
                /img/review/desktop/image-4.jpg    1x,
                /img/review/desktop/image-4@2x.jpg 2x
              "
              type="image/jpg"
              media="(min-width: 1200px)"
            />
            <source
              srcset="
                /img/review/mobile/image-4.jpg    1x,
                /img/review/mobile/image-4@2x.jpg 2x
              "
              type="image/jpg"
              media="(max-width: 1199px)"
            />
            <img
              src="/img/review/mobile/image-4.jpg"
              alt="Review card"
              class="review-card-image"
            />
          </picture>
          <p class="review-card-text">
            No pay-to-win mechanics - enjoy free gameplay!
          </p>
        </li>
      </ul>
      <p class="review-description">
        Join Robot Blaze Dash Adventure, an exciting running game where you race
        through different worlds, overcome obstacles and fight enemies while
        collecting power-ups! Dynamic action with exciting challenges on the
        platform. Collect time bonuses to increase your score. Dodge, jump and
        shoot to overcome dangerous enemies. Simple controls - run, jump and
        clear obstacles! No pay-to-win mechanics - enjoy free gameplay!
      </p>
    </div>
  </div>
</section>
