<section id="review-id">
  <div class="review-container container">
    <h2 class="review-title">Game Review</h2>
    <div class="review-card-container">
      <ul class="review-card-list">
        <!-- -------------------- card-1 -------------------- -->
        <li class="review-card-item" data-aos="fade-down-right">
          <div class="review-card-wrapper">
            <div class="review-card-frame">
              <div class="review-card-image"></div>
            </div>
          </div>

          <p class="review-card-text">
            Join Robot Blaze Dash Adventure, an exciting running game where you
            race through different worlds, overcome obstacles and fight enemies
            while collecting power-ups!
          </p>
        </li>

        <!-- -------------------- card-2 -------------------- -->

        <li class="review-card-item" data-aos="fade-down-left">
          <div class="review-card-wrapper">
            <div class="review-card-frame">
              <div class="review-card-image"></div>
            </div>
          </div>

          <p class="review-card-text">
            Dynamic action with exciting challenges on the platform. Collect
            time bonuses to increase your score.
          </p>
        </li>

        <!-- -------------------- card-3 -------------------- -->

        <li class="review-card-item" data-aos="fade-up-right">
          <div class="review-card-wrapper">
            <div class="review-card-frame">
              <div class="review-card-image"></div>
            </div>
          </div>

          <p class="review-card-text">
            Dodge, jump and shoot to overcome dangerous enemies. Simple controls
            - run, jump and clear obstacles!
          </p>
        </li>

        <!-- -------------------- card-4 -------------------- -->

        <li class="review-card-item" data-aos="fade-up-left">
          <div class="review-card-wrapper">
            <div class="review-card-frame">
              <div class="review-card-image"></div>
            </div>
          </div>

          <p class="review-card-text">
            No pay-to-win mechanics - enjoy free gameplay!
          </p>
        </li>
      </ul>
      <p class="review-description">
        Join Robot Blaze Dash Adventure, an exciting running game where you race
        through different worlds, overcome obstacles and fight enemies while
        collecting power-ups! Dynamic action with exciting challenges on the
        platform. Collect time bonuses to increase your score. Dodge, jump and
        shoot to overcome dangerous enemies. Simple controls - run, jump and
        clear obstacles! No pay-to-win mechanics - enjoy free gameplay!
      </p>
    </div>
  </div>
</section>
