<section id="squad-id">
  <div class="squad-container container">
    <h2 class="squad-title">Meet the Blaze Squad</h2>
    <p class="squad-description">
      Join Blaze and his robot allies and embark on a daring adventure
    </p>
    <ul class="squad-card-list">
      <!-- -------------------- card-1 -------------------- -->

      <li class="squad-card-item" data-aos="fade-up">
        <div class="squad-card-image-box squad-card-image"></div>
        <p class="squad-card-text">
          Blaze is a fearless runner with unparalleled speed
        </p>
      </li>

      <!-- -------------------- card-2 -------------------- -->

      <li class="squad-card-item" data-aos="fade-down">
        <div class="squad-card-image-box squad-card-image"></div>
        <p class="squad-card-text">Energy-powered volt warrior</p>
      </li>

      <!-- -------------------- card-3 -------------------- -->

      <li class="squad-card-item" data-aos="fade-up">
        <div class="squad-card-image-box squad-card-image"></div>
        <p class="squad-card-text">
          Gearbot is a mechanical genius with powerful weapons
        </p>
      </li>

      <!-- -------------------- card-4 -------------------- -->

      <li class="squad-card-item" data-aos="fade-down">
        <div class="squad-card-image-box squad-card-image"></div>
        <p class="squad-card-text">
          Terra Sentinel with an impenetrable shield.
        </p>
      </li>
    </ul>
    <p class="squad-text-end">Choose your hero and rush into battle!</p>
  </div>
</section>
