<section id="squad-id">
  <div class="squad-container container">
    <h2 class="squad-title">Meet the Blaze Squad</h2>
    <p class="squad-description">
      Join Blaze and his robot allies and embark on a daring adventure
    </p>
    <ul class="squad-card-list">
      <!-- -------------------- card-1 -------------------- -->

      <li class="squad-card-item">
        <div class="squad-card-image-box">
          <picture>
            <source
              srcset="
                /img/squad/desktop/image-1.png    1x,
                /img/squad/desktop/image-1@2x.png 2x
              "
              type="image/png"
              media="(min-width: 1200px)"
            />
            <source
              srcset="
                /img/squad/mobile/image-1.png    1x,
                /img/squad/mobile/image-1@2x.png 2x
              "
              type="image/png"
              media="(max-width: 1199px)"
            />
            <img src="/img/squad/mobile/image-1.png" alt="Card image" />
          </picture>
        </div>
        <p class="squad-card-text">
          Blaze is a fearless runner with unparalleled speed
        </p>
      </li>

      <!-- -------------------- card-2 -------------------- -->

      <li class="squad-card-item">
        <div class="squad-card-image-box">
          <picture>
            <source
              srcset="
                /img/squad/desktop/image-2.png    1x,
                /img/squad/desktop/image-2@2x.png 2x
              "
              type="image/png"
              media="(min-width: 1200px)"
            />
            <source
              srcset="
                /img/squad/mobile/image-2.png    1x,
                /img/squad/mobile/image-2@2x.png 2x
              "
              type="image/png"
              media="(max-width: 1199px)"
            />
            <img src="/img/squad/mobile/image-2.png" alt="Card image" />
          </picture>
        </div>
        <p class="squad-card-text">Energy-powered volt warrior</p>
      </li>

      <!-- -------------------- card-3 -------------------- -->

      <li class="squad-card-item">
        <div class="squad-card-image-box">
          <picture>
            <source
              srcset="
                /img/squad/desktop/image-3.png    1x,
                /img/squad/desktop/image-3@2x.png 2x
              "
              type="image/png"
              media="(min-width: 1200px)"
            />
            <source
              srcset="
                /img/squad/mobile/image-3.png    1x,
                /img/squad/mobile/image-3@2x.png 2x
              "
              type="image/png"
              media="(max-width: 1199px)"
            />
            <img src="/img/squad/mobile/image-3.png" alt="Card image" />
          </picture>
        </div>
        <p class="squad-card-text">
          Gearbot is a mechanical genius with powerful weapons
        </p>
      </li>

      <!-- -------------------- card-4 -------------------- -->

      <li class="squad-card-item">
        <div class="squad-card-image-box">
          <picture>
            <source
              srcset="
                /img/squad/desktop/image-4.png    1x,
                /img/squad/desktop/image-4@2x.png 2x
              "
              type="image/png"
              media="(min-width: 1200px)"
            />
            <source
              srcset="
                /img/squad/mobile/image-4.png    1x,
                /img/squad/mobile/image-4@2x.png 2x
              "
              type="image/png"
              media="(max-width: 1199px)"
            />
            <img src="/img/squad/mobile/image-4.png" alt="Card image" />
          </picture>
        </div>
        <p class="squad-card-text">
          Terra Sentinel with an impenetrable shield.
        </p>
      </li>
    </ul>
    <p class="squad-text-end">Choose your hero and rush into battle!</p>
  </div>
</section>
