.features-container {
  padding: 80px 16px 0 16px;
}

.features-header {
  margin-bottom: 50px;
}

.features-title {
  font-weight: 400;
  font-size: 24px;
  color: $_color_teal;
  text-align: center;
  margin-bottom: 12px;
}

.features-text {
  font-weight: 400;
  font-size: 16px;
  color: $_color_light;
}

.features-card-list {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-bottom: 50px;
}

.features-card-header {
  margin-bottom: 30px;
}

.features-card-title {
  font-weight: 400;
  font-size: 20px;
  color: $_color_teal;
}

.features-card-preview {
  margin-bottom: 24px;
}

.feature-image-box {
  position: relative;
  width: 100%;
  margin-bottom: 24px;
}

.features-card-list > li:nth-child(2) .feature-image-box,
.features-card-list > li:nth-child(1) .feature-image-box {
  height: 188px;
}

.features-card-list > li:nth-child(3) .feature-image-box,
.features-card-list > li:nth-child(4) .feature-image-box {
  height: 329px;
}

.feature-image-frame {
  border: 8px solid $_color_teal;
}

.features-card-list > li:nth-child(1) .feature-image-frame {
  width: 276px;
  height: 100%;
  margin-right: auto;
}

.features-card-list > li:nth-child(2) .feature-image-frame {
  width: 276px;
  height: 100%;
  margin-left: auto;
}

.features-card-list > li:nth-child(3) .feature-image-frame,
.features-card-list > li:nth-child(4) .feature-image-frame {
  width: 100%;
  height: 312px;
}

.feature-image {
  position: absolute;
  border: 8px solid $_color_teal;
  border-radius: 16px;
  width: 100%;
  height: auto;
  box-sizing: border-box;
}

.features-card-list > li:nth-child(1) .feature-image,
.features-card-list > li:nth-child(2) .feature-image {
  top: 50%;
  transform: translateY(-50%);
  width: 245px;
  height: 145px;
}

.features-card-list > li:nth-child(1) .feature-image {
  right: 0;
  background-image: image-set(
    url('/img/features/mobile/card-1/image-1.jpg') 1x,
    url('/img/features/mobile/card-1/image-1@2x.jpg') 2x
  );
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.features-card-list > li:nth-child(2) .feature-image {
  left: 0;
}

.features-card-list > li:nth-child(3) .feature-image,
.features-card-list > li:nth-child(4) .feature-image {
  bottom: 0;
  right: 50%;
  transform: translateX(50%);
  width: 232px;
  height: 286px;
}

.image-rotator {
  overflow: hidden;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: scale(1);
    transition: transform 0.3s ease;
  }
  img.active {
    transform: scale(1.1);
  }
}

.features-card-description {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.features-text-end {
  font-weight: 400;
  font-size: 16px;
  color: $_color_light;
  text-align: center;
}

.features-only-desktop {
  display: none;
}

@include media(desktop) {
  .features-container {
    padding: 140px 40px 0 40px;
  }

  .features-header {
    margin-bottom: 70px;
  }

  .features-title {
    font-size: 48px;
    text-align: start;
    margin-bottom: 20px;
  }

  .features-text {
    font-size: 20px;
  }

  .features-card-list {
    gap: 50px;
  }

  .features-card-header {
    display: flex;
    gap: 4px;
    margin-bottom: 42px;
    align-items: baseline;
  }

  .features-card-title {
    font-size: 32px;
  }

  .features-card-content {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .features-card-item:nth-child(2) .features-card-content,
  .features-card-item:nth-child(4) .features-card-content {
    flex-direction: row-reverse;
  }

  .features-card-item:nth-child(1) .features-card-content {
    gap: 192px;
  }

  .features-card-item:nth-child(2) .features-card-content {
    gap: 54px;
  }

  .features-card-item:nth-child(3) .features-card-content {
    gap: 283px;
  }

  .features-card-item:nth-child(4) .features-card-content {
    gap: 373px;
  }

  .feature-image-box {
    margin-bottom: 0;
  }

  .features-card-list > li:nth-child(2) .feature-image-box,
  .features-card-list > li:nth-child(1) .feature-image-box {
    flex: 0 0 466px;
    width: 466px;
    height: 289px;
  }

  .features-card-list > li:nth-child(3) .feature-image-box,
  .features-card-list > li:nth-child(4) .feature-image-box {
    flex: 0 0 289px;
    width: 289px;
    height: 466px;
  }

  .features-card-list > li:nth-child(1) .feature-image-frame,
  .features-card-list > li:nth-child(2) .feature-image-frame {
    width: 442px;
    height: 100%;
    margin-left: auto;
    margin-right: 0;
  }

  .features-card-list > li:nth-child(3) .feature-image-frame,
  .features-card-list > li:nth-child(4) .feature-image-frame {
    width: 100%;
    height: 442px;
  }

  .features-card-list > li:nth-child(1) .feature-image,
  .features-card-list > li:nth-child(2) .feature-image {
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 406px;
    height: 233px;
  }

  .features-card-list > li:nth-child(1) .feature-image {
    background-image: image-set(
      url('/img/features/desktop/card-1/image-1.jpg') 1x,
      url('/img/features/desktop/card-1/image-1@2x.jpg') 2x
    );
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  .features-card-list > li:nth-child(3) .feature-image,
  .features-card-list > li:nth-child(4) .feature-image {
    bottom: 0;
    right: 50%;
    transform: translateX(50%);
    width: 233px;
    height: 406px;
  }

  .features-card-description {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }

  .features-text-end {
    font-size: 24px;
  }

  .features-only-desktop {
    display: block;
  }

  .features-only-mobil {
    display: none;
  }
}
