.footer-container {
  background-color: #95b9b4 !important;
  padding: 40px 16px 40px 16px;
}

.footer-nav {
  margin-bottom: 40px;
}

.footer-list {
  display: flex;
  font-size: 16px;
  flex-direction: column;
  text-align: center;
  gap: 20px;
}

.footer-copy {
  text-align: center;
  font-size: 16px;
}

@include media(mobile) {
  .footer-span-desk {
    display: none;
  }
}

@include media(desktop) {
  .footer-container {
    padding: 70px 40px 40px 40px;
  }
  .footer-nav {
    margin-bottom: 60px;
  }

  .footer-list {
    display: flex;
    gap: 10px;
    font-size: 32px;
    line-height: 125%;
    flex-direction: row;
    justify-content: center;
  }

  .footer-copy {
    font-size: 20px;
    line-height: 100%;
  }

  .footer-span-desk {
    font-size: 32px;
    line-height: 125%;
    margin-left: 10px;
    display: inline;
  }
}
