.hero-container {
  display: flex;
  flex-direction: column;
  background-color: $_color_blue;
  width: 100%;
  scroll-margin-top: 40px;
  background: transparent !important;
}

.hero-image-container {
  width: 100%;
  padding: 20px 32px;
  width: 100%;
  background-image: image-set(
    url('/img/hero/mobile/background.png') 1x,
    url('/img/hero/mobile/background@2x.png') 2x
  );
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
}

.hero-image {
  width: 100%;
  height: 255px;
  background-image: image-set(
    url('/img/hero/mobile/image.png') 1x,
    url('/img/hero/mobile/image@2x.png') 2x
  );
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.hero-content {
  display: flex;
  flex-direction: column;
  gap: 40px;
  width: 320px;
  margin: 0 auto;
  padding: 24px 16px 0 16px;
}

.hero-title {
  font-weight: 400;
  font-size: 32px;
  color: $_color_light;
}

.hero-button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-weight: 400;
  font-size: 24px;
  color: #1e1e1e;
  border-radius: 16px;
  background: $_color_light;
  border: 2px solid $_color_light;
  padding: 18px 36px;
  box-sizing: border-box;
  transition: all 150ms ease-in;
  &:hover {
    border-color: $_color_gray;
    box-shadow: 0 0 2px 0 #fff6db, 0 0 6px 0 #fffdf5,
      0 0 8px 0 rgba(255, 254, 251, 0.8);
  }
}

.hero-text {
  font-weight: 400;
  font-size: 20px;
  color: $_color_light;
}

@include media(desktop) {
  .hero {
    width: 100%;
    background-image: image-set(
      url('/img/hero/desktop/background.png') 1x,
      url('/img/hero/desktop/background@2x.png') 2x
    );
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
  }

  .hero-container {
    display: flex;
    flex-direction: row-reverse;
    gap: 48px;
    margin: 0 auto;
    width: 1200px;
    padding: 149px 40px 36px 40px;
  }

  .hero-image-container {
    flex: 0 0 500px;
    padding: 0;
    background: none;
  }

  .hero-image {
    height: 500px;
    background-image: image-set(
      url('/img/hero/desktop/image.png') 1x,
      url('/img/hero/desktop/image@2x.png') 2x
    );
  }

  .hero-content {
    flex: 1;
    gap: 24px;
    padding: 0;
    position: relative;
  }

  .hero-title {
    font-size: 64px;
  }

  .hero-text {
    max-width: 520px;
  }

  .hero-button {
    position: absolute;
    right: 0;
    bottom: 0;
  }
}
