.review-container {
  padding: 80px 16px 0 16px;
}

.review-title {
  font-size: 24px;
  color: $_color_teal;
  text-align: center;
  margin-bottom: 50px;
}

.review-card-list {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.review-card-item {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.review-card-wrapper {
  position: relative;
  width: 100%;
  height: 188px;
}

.review-card-frame {
  border: 8px solid $_color_teal;
  width: 277px;
  height: 100%;
}

.review-card-list > li:nth-child(1) .review-card-frame,
.review-card-list > li:nth-child(3) .review-card-frame {
  margin-right: auto;
}

.review-card-list > li:nth-child(2) .review-card-frame,
.review-card-list > li:nth-child(4) .review-card-frame {
  margin-left: auto;
}

.review-card-image {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  border: 8px solid $_color_teal;
  border-radius: 16px;
  width: 244px;
  height: 144px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.review-card-list > li:nth-child(1) .review-card-image {
  right: 0;
  background-image: image-set(
    url('/img/review/mobile/image-1.jpg') 1x,
    url('/img/review/mobile/image-1@2x.jpg') 2x
  );
}

.review-card-list > li:nth-child(2) .review-card-image {
  left: 0;
  background-image: image-set(
    url('/img/review/mobile/image-2.jpg') 1x,
    url('/img/review/mobile/image-2@2x.jpg') 2x
  );
}

.review-card-list > li:nth-child(3) .review-card-image {
  right: 0;
  background-image: image-set(
    url('/img/review/mobile/image-3.jpg') 1x,
    url('/img/review/mobile/image-3@2x.jpg') 2x
  );
}

.review-card-list > li:nth-child(4) .review-card-image {
  left: 0;
  background-image: image-set(
    url('/img/review/mobile/image-4.jpg') 1x,
    url('/img/review/mobile/image-4@2x.jpg') 2x
  );
}

.review-card-text {
  font-size: 16px;
  color: $_color_light;
}

.review-description {
  display: none;
}

@include media(desktop) {
  .review-container {
    padding: 140px 40px 0 40px;
  }

  .review-title {
    font-size: 48px;
    color: $_color_teal;
    text-align: start;
    margin-bottom: 70px;
    line-height: 48px;
  }

  .review-card-container {
    position: relative;
  }

  .review-card-list {
    display: grid;
    grid-template-columns: 461px 461px;
    justify-content: space-between;
    row-gap: 555px;
    background-image: image-set(
      url('/img/review/desktop/image-main.png') 1x,
      url('/img/review/desktop/image-main@2x.png') 2x
    );
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center;
  }

  .review-description {
    display: block;
    position: absolute;
    top: 358px;
    right: 50%;
    transform: translateX(50%);
    font-size: 18px;
    color: $_color_light;
    max-width: 289px;
  }

  .review-card-wrapper {
    height: 289px;
  }

  .review-card-frame {
    width: 442px;
  }

  .review-card-image {
    width: 389px;
    height: 233px;
  }

  .review-card-list > li:nth-child(1) .review-card-image {
    background-image: image-set(
      url('/img/review/desktop/image-1.jpg') 1x,
      url('/img/review/desktop/image-1@2x.jpg') 2x
    );
  }

  .review-card-list > li:nth-child(2) .review-card-image {
    background-image: image-set(
      url('/img/review/desktop/image-2.jpg') 1x,
      url('/img/review/desktop/image-2@2x.jpg') 2x
    );
  }

  .review-card-list > li:nth-child(3) .review-card-image {
    background-image: image-set(
      url('/img/review/desktop/image-3.jpg') 1x,
      url('/img/review/desktop/image-3@2x.jpg') 2x
    );
  }

  .review-card-list > li:nth-child(4) .review-card-image {
    background-image: image-set(
      url('/img/review/desktop/image-4.jpg') 1x,
      url('/img/review/desktop/image-4@2x.jpg') 2x
    );
  }

  .review-card-text {
    display: none;
  }
}
