.squad-container {
  padding: 80px 16px 0 16px;
}

.squad-title {
  font-size: 20px;
  color: $_color_teal;
  text-align: center;
  margin-bottom: 17px;
}

.squad-description {
  font-size: 16px;
  color: $_color_light;
  margin-bottom: 30px;
}

.squad-card-list {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-bottom: 68px;
}

.squad-card-item {
  display: flex;
  flex-direction: row;
  gap: 24px;
}

.squad-card-item:nth-child(2),
.squad-card-item:nth-child(4) {
  flex-direction: row-reverse;
}

.squad-card-image {
  flex: 0 0 135px;
  width: 135px;
  height: 149px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.squad-card-list > li:nth-child(1) .squad-card-image {
  background-image: image-set(
    url('/img/squad/mobile/image-1.png') 1x,
    url('/img/squad/mobile/image-1@2x.png') 2x
  );
}
.squad-card-list > li:nth-child(2) .squad-card-image {
  background-image: image-set(
    url('/img/squad/mobile/image-2.png') 1x,
    url('/img/squad/mobile/image-2@2x.png') 2x
  );
}
.squad-card-list > li:nth-child(3) .squad-card-image {
  background-image: image-set(
    url('/img/squad/mobile/image-3.png') 1x,
    url('/img/squad/mobile/image-3@2x.png') 2x
  );
}
.squad-card-list > li:nth-child(4) .squad-card-image {
  background-image: image-set(
    url('/img/squad/mobile/image-4.png') 1x,
    url('/img/squad/mobile/image-4@2x.png') 2x
  );
}

.squad-card-text {
  flex: 1;
  font-size: 12px;
  color: $_color_light;
}

.squad-text-end {
  font-size: 16px;
  color: $_color_light;
  text-align: center;
}

@include media(desktop) {
  .squad-container {
    padding: 155px 40px 0 40px;
  }

  .squad-title {
    font-size: 48px;
    text-align: start;
  }

  .squad-description {
    font-size: 20px;
    margin-bottom: 70px;
  }

  .squad-card-list {
    flex-direction: row;
    justify-content: space-between;
    gap: inherit;
    margin-bottom: 50px;
  }

  .squad-card-item,
  .squad-card-item:nth-child(2),
  .squad-card-item:nth-child(4) {
    flex-direction: column;
    gap: 21px;
    width: 173px;
  }

  .squad-card-image {
    flex: none;
    width: 100%;
    height: 194px;
    border-radius: 100%;
    border: 3px solid $_color_teal;
  }

  .squad-card-list > li:nth-child(1) .squad-card-image {
    background-image: image-set(
      url('/img/squad/desktop/image-1.png') 1x,
      url('/img/squad/desktop/image-1@2x.png') 2x
    );
  }
  .squad-card-list > li:nth-child(2) .squad-card-image {
    background-image: image-set(
      url('/img/squad/desktop/image-2.png') 1x,
      url('/img/squad/desktop/image-2@2x.png') 2x
    );
  }
  .squad-card-list > li:nth-child(3) .squad-card-image {
    background-image: image-set(
      url('/img/squad/desktop/image-3.png') 1x,
      url('/img/squad/desktop/image-3@2x.png') 2x
    );
  }
  .squad-card-list > li:nth-child(4) .squad-card-image {
    background-image: image-set(
      url('/img/squad/desktop/image-4.png') 1x,
      url('/img/squad/desktop/image-4@2x.png') 2x
    );
  }

  .squad-card-text {
    font-size: 18px;
  }

  .squad-text-end {
    font-size: 24px;
  }
}
