.squad-container {
  padding: 80px 16px 0 16px;
}

.squad-title {
  font-weight: 400;
  font-size: 20px;
  color: $_color_teal;
  text-align: center;
  margin-bottom: 17px;
}

.squad-description {
  font-weight: 400;
  font-size: 16px;
  color: $_color_light;
  margin-bottom: 30px;
}

.squad-card-list {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-bottom: 68px;
}

.squad-card-item {
  display: flex;
  flex-direction: row;
  gap: 24px;
}

.squad-card-item:nth-child(2),
.squad-card-item:nth-child(4) {
  flex-direction: row-reverse;
}

.squad-card-image-box {
  flex: 0 0 135px;
  width: 135px;
}

.squad-card-text {
  flex: 1;
  font-weight: 400;
  font-size: 12px;
  color: $_color_light;
}

.squad-text-end {
  font-weight: 400;
  font-size: 16px;
  color: $_color_light;
  text-align: center;
}

@include media(desktop) {
  .squad-container {
    padding: 155px 40px 0 40px;
  }

  .squad-title {
    font-size: 48px;
    text-align: start;
  }

  .squad-description {
    font-size: 20px;
    margin-bottom: 70px;
  }

  .squad-card-list {
    flex-direction: row;
    justify-content: space-between;
    gap: inherit;
    margin-bottom: 50px;
  }

  .squad-card-item {
    flex-direction: column;
    gap: 21px;
    width: 173px;
  }

  .squad-card-item:nth-child(2),
  .squad-card-item:nth-child(4) {
    flex-direction: column;
  }

  .squad-card-image-box {
    flex: none;
    width: 100%;
    img {
      border-radius: 100%;
      border: 3px solid #95b9b4;
      width: 100%;
      height: auto;
      object-fit: cover;
    }
  }

  .squad-card-text {
    font-size: 18px;
  }

  .squad-text-end {
    font-size: 24px;
  }
}
