@import './common/breakpoints';

:root {
  font-family: 'Lora', serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  background-color: #0b2158;
  color: #f8fafc;
  scrollbar-gutter: stable;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.container {
  background-color: $_color_blue;
  width: $mobile;
  margin-left: auto;
  margin-right: auto;
  @include media(desktop) {
    width: $desktop;
  }

  body {
    position: relative;
  }
}
